#myMap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.leaflet-tile-pane img.leaflet-tile {
    filter: saturate(500%);
    /* Vendor prefixes for broader browser support */
    -webkit-filter: saturate(500%) contrast(100%);
}

.leaflet-left {
    margin-left: var(--sidebar-width);
    transition: all 0.3s ease;
}

    .leaflet-left.collapsed {
        margin-left: var(--sidebar-width-collapsed);
    }