/*
 * Custom CSS
 */

:root {
    --bs-body-bg: var(--bs-gray-100);
    
    --sidebar-width: 400px;
    --sidebar-width-collapsed: 80px;
    /*--bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
    */
    height: 100vh;
    overflow: hidden;
}

.z1000 {
    z-index: 1000;
}

html, body {
    height: 100%;
}

#sidebar {
    padding: 10px;
    width: var(--sidebar-width);
    min-width: 250px;
    max-width: 500px; 
    overflow: auto;
    background: linear-gradient(135deg, #1a1c2e 0%, #16181f 100%);
    transition: all 0.3s ease;
}

    #sidebar.collapsed {
        width: var(--sidebar-width-collapsed);
        min-width: var(--sidebar-width-collapsed);
    }

.row {
    margin: 0 !important;
    padding: 0;
}


.dropdown-menu {
    max-height: 200px;
    max-width: 100%;
    overflow-y: auto;
    font-size: 12px;
    border-width: 2px;
    border-radius: 0px;
    border-color: cadetblue;
}

.search-bar {
    /*height: 40px;*/
}


.btn , .icon-button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.terminated {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.terminating {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.ui-button {
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    text-align: center;
}
    .ui-button:hover {
        transform: scale(1.2);
    }

    .ui-button.button-lt {
        color: #a0a3bd;
    }
        .ui-button.button-lt.active {
            color: #ffffff;
        }
        .ui-button.button-lt:hover {
            color: #ffffff;
        }
    .ui-button.button-lt.svg {
        filter: brightness(0) saturate(100%) invert(77%) sepia(17%) saturate(354%) hue-rotate(196deg) brightness(85%) contrast(81%);
    }
        .ui-button.button-lt.svg:hover .ui-button.button-lt.svg.active {
            filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%) hue-rotate(92deg) brightness(104%) contrast(100%);
        }

    .ui-button.button-dk {
        color: #7D7D7D;
    }
        .ui-button.button-dk.active {
            color: #000000;
        }
        .ui-button.button-dk:hover {
            color: #000000;
        }

        .ui-button.button-dk.svg {
            /*filter: brightness(0) saturate(100%) invert(49%) sepia(42%) saturate(13%) hue-rotate(48deg) brightness(92%) contrast(90%);*/
        }
            .ui-button.button-dk.svg:hover .ui-button.button-dk.svg.active {
                /*filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(3300%) hue-rotate(75deg) brightness(106%) contrast(107%);*/
            }

    

.collapsed .hide-on-collapse {
    opacity: 0;
    display: none;
}

.hidden {
    opacity: 0;
}


#search-results {
    background: black;
    border-style: solid;
    border-width: thin;
    border-color: white;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 5px;
    color: #a0a3bd;
}

#sidebar-upper-box {
    flex-basis: 40%;
    max-height: 40%;
}
#sidebar-lower-box {
    border-radius: 5px;
    background-color: #ccd0e6;
    flex-basis: 60%;
    max-height: 60%;
}

