/*
 * Custom CSS
 */

:root {
    --bs-body-bg: var(--bs-gray-100);
    --sidebar-width: 320px;
    --sidebar-width-collapsed: 80px;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

#map-nav {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

body {
    overflow-x: hidden;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: linear-gradient(135deg, #1a1c2e 0%, #16181f 100%);
    transition: all 0.3s ease;

}

    .sidebar.collapsed {
        width: var(--sidebar-width-collapsed);
    }

.row {
    margin: 0 !important;
    padding: 0;
}
#hamburger {
    text-align: center;
    padding: 0px;
}

#nav-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.sidebar-link {
    color: #a0a3bd;
    transition: all 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4em;
    text-align: center;
}

    .sidebar-link:hover {
        color: #ffffff;
        transform: scale(1.2);
    }

    .sidebar-link.active {
        color: #ffffff;
    }


.collapsed ~ .main-content {
    margin-left: var(--sidebar-width-collapsed);
}

.collapsed .hide-on-collapse {
    opacity: 0;
    display: none;
}

.hidden {
    opacity: 0;
}

#upper-box {
    height: 40%;
}
#search-results {
    background: black;
    border-style: solid;
    border-width: thin;
    border-color: white;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 5px;
    color: #a0a3bd;
}

#lower-box {
    border-radius: 5px;
    background-color: #ccd0e6;
    height: 60%;
}

